@model IEnumerable<Movie>
@{
    ViewData["Title"] = "Movies";
}

<h2>
    <i class="bi bi-film"></i>
    Movies
</h2>

<hr />

<a class="btn btn-primary" asp-action="Create">
    <i class="bi bi-plus"></i> Add Movie
</a>


<br />
<br />



<div class="nt-4">
    @if(Model?.Count() > 0 )
    {
        <div class="row">
            @foreach(var item in Model)
            {
                <div class="col-12">
                    <div class="card mb-3" >
                        <div class="row g-0">
                            <div class="col-md-2 poster" style="background-image: url(data:image\/*;base64,@(Convert.ToBase64String(item.Poster))"> </div>
                            <div class="col-md-10">
                                <div class="card-body d-flex flex-column justify-content-between h-100">
                                   <div>
                                        <h5 class="card-title">@item.Title (@item.year)</h5>
                                        <p class="card-text text-justify">@(item.StoryLine.Length>400? $"{item.StoryLine.Substring(0,400)}...." : item.StoryLine) </p>
                                   </div>
                                    <div class="d-flex justify-content-between">
                                        <p class="card-text mb-0 mt-2">
                                            <i class="bi bi-star-fill text-warning"></i>
                                            <small class="text-muted">@item.Rate.ToString("0.0")</small>
                                        </p>
                                        <div>
                                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-secondary">
                                                <i class="bi bi-camera-reels"></i> Details
                                            </a>
                                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">
                                                <i class="bi bi-pencil"></i> Edit
                                            </a>
                                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">
                                                <i class="bi bi-trash"></i> Delete
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            }
        </div>
    }
    else
    {
        <div class="alert alert-warning" role="alert">
            <i class="bi bi-exclamation-triangle"></i>  No Movies Found!
        </div>
    }
</div>